{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Screen</title>
    <link rel="stylesheet" href='{% static "css/styles.css" %}'>
    <link rel="stylesheet" href='{% static "css/purchase.css" %}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #salesTable>tr>td:nth-child(2)>input {
            width: 130px;
        }

        #salesTable>tr>td:nth-child(3)>input {
            width: 90px;
        }

        #salesTable>tr>td:nth-child(9)>input {
            width: 70px;
        }

        #salesTable>tr>td:nth-child(10)>input,
        #salesTable>tr>td:nth-child(11)>input {
            width: 110px;
        }

        #salesTable>tr>td:nth-child(4)>input,
        #salesTable>tr>td:nth-child(5)>input,
        #salesTable>tr>td:nth-child(6)>input,
        #salesTable>tr>td:nth-child(7)>input,
        #salesTable>tr>td:nth-child(8)>input {
            width: 60px;
        }



        .suggestions {
            position: absolute;
            background: rgb(26 34 44);
            /* border: 1px solid #ccc; */
            max-height: 150px;
            overflow-y: auto;
            width: 100%;
            max-width: 600px;
        }

        .suggestions div {
            padding: 8px;
            cursor: pointer;
            border: 1px solid gray;
        }

        .suggestions div:hover {
            background: rgb(82, 98, 117);
        }

        .input-group {
            position: relative;
            display: inline-block;
            width: 250px;
        }

        .customersec {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 23px;
        }

        .customersec input {
            width: 100%;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
</head>

<body>
    <main>
        {% include "sidebar.html" %}
        <div class="mainSec">
            <div class="container">
                <div class="header">
                    <h1>Sales Invoice</h1>
                    <p><strong>Date:</strong> <input type="date" id="dateInput"></p>
                </div>

                <!-- Form for Sales Details -->
                <form id="medicinelistdataform">
                    {% csrf_token %}
                    <div class="customersec">
                        <div class="form-group input-group">
                            <label for="customer">Customer Name:</label>
                            <input type="text" id="customer" name="customer" placeholder="Enter Customer Name"
                                onkeyup="searchCustomer(this)">
                            <div id="customerSuggestions" class="suggestions"></div>
                        </div>
                        <div class="form-group input-group">
                            <label for="phoneno">Mobile No:</label>
                            <input type="text" id="phoneno" name="phoneno" placeholder="Enter Mobile Number"
                                onkeyup="searchCustomer(this)">
                            <div id="phoneSuggestions" class="suggestions"></div>
                        </div>
                    </div>

                    <!-- Sales Items Table -->
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Item Name</th>
                                    <th>Batch</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Discount (%)</th>
                                    <th>Cgst (%)</th>
                                    <th>Sgst (%)</th>
                                    <th>GST Amount</th>
                                    <th>Total</th>
                                    <th>Total With GST</th>
                                </tr>
                            </thead>
                            <tbody id="salesTable">
                                <!-- Rows will be dynamically added here -->
                            </tbody>
                        </table>
                    </div>

                    <!-- Footer for Totals and Buttons -->
                    <div class="footer">
                        <button type="button" onclick="addRow()">Add Item</button>
                        <button type="submit">Save Invoice</button>
                    </div>
                </form>

                <!-- Summary Section -->
                <div class="summary">
                    <p><strong>Grand Total: ₹</strong><span id="grandTotal">0.00</span></p>
                </div>
                <div class="summary">
                    <p><strong>GST Total: ₹</strong><span id="TotalGSTamountOnly">0.00</span></p>
                </div>
                <div class="summary">
                    <p><strong>Grand Total with GST: ₹</strong><span id="grandTotalWithGST">0.00</span></p>
                </div>
            </div>
        </div>
    </main>

    <script src='{% static "js/common.js" %}'></script>
    <!-- JavaScript -->
    <script>
        let rowCount = 1;
        let grandTotal = 0;

        function addRow() {
            const table = document.getElementById('salesTable');
            const row = document.createElement('tr');

            row.innerHTML = `
                <td>${rowCount}</td>
                <td><input type="text" id="item_name_${rowCount}" name="item_name_${rowCount}" placeholder="Item Name" oninput="showSuggestions(this, 'medicineSuggestions_${rowCount}')" required><div id="medicineSuggestions_${rowCount}" class="suggestions"></div></td>
                <td><input type="text" id="batch_${rowCount}" name="batch_${rowCount}" placeholder="Batch" oninput="showSuggestions(this, 'medicineSuggestions_${rowCount}')" required></td>
                <td><input type="number" name="quantity_${rowCount}" placeholder="Qty" onkeyup="updateTotal(this)" value="0" required></td>
                <td><input type="number" id="price_${rowCount}" name="price_${rowCount}" placeholder="Price" onkeyup="updateTotal(this)" value="0" required></td>
                <td><input type="number" name="discount_${rowCount}" placeholder="Discount" onkeyup="updateTotal(this)" value="0" required></td>
                <td><input type="number" name="cgst_${rowCount}" placeholder="Cgst" onkeyup="updateTotal(this)" value="0" required></td>
                <td><input type="number" name="sgst_${rowCount}" placeholder="Sgst" onkeyup="updateTotal(this)" value="0" required></td>
                <td><input type="number" name="gstAmount_${rowCount}" placeholder="GST Amount" readonly value="0" required></td>
                <td><input type="number" name="total_${rowCount}" placeholder="Total" readonly value="0" required></td>
                <td><input type="number" name="totalwithgst_${rowCount}" placeholder="Total With GST" readonly value="0" required></td>
            `;

            table.appendChild(row);
            rowCount++;
        }

        function updateTotal(input) {
            const row = input.parentElement.parentElement;
            const qty = parseFloat(row.querySelector('td:nth-child(4) input').value) || 0;
            const price = parseFloat(row.querySelector('td:nth-child(5) input').value) || 0;
            const discount = parseFloat(row.querySelector('td:nth-child(6) input').value) || 0;

            const total = (qty * price * (1 - discount / 100)).toFixed(2);
            row.querySelector('td:nth-child(10) input').value = total;

            calculateGrandTotal();


            function calculateGrandTotal() {
                const rows = document.querySelectorAll('#salesTable tr');
                grandTotal = 0;

                rows.forEach(row => {
                    const total = parseFloat(row.querySelector('td:nth-child(10) input').value) || 0;
                    grandTotal += total;
                });

                document.getElementById('grandTotal').innerText = grandTotal.toFixed(2);
                calculateGSTamount();
            }

            function calculateTotalWithGST() {
                const rows = document.querySelectorAll('#salesTable tr');
                TotalwithGST = 0;

                rows.forEach(row => {
                    const total = parseFloat(row.querySelector('td:nth-child(11) input').value) || 0;
                    TotalwithGST += total;
                });

                document.getElementById('grandTotalWithGST').innerText = TotalwithGST.toFixed(2);
                calculateTotalGSTamountOnly();
            }

            function calculateGSTamount() {
                const row = input.parentElement.parentElement;
                const cgst = row.querySelector('td:nth-child(7) input').value;
                const sgst = row.querySelector('td:nth-child(8) input').value;
                const total = row.querySelector('td:nth-child(10) input').value;
                const GSTamount = row.querySelector('td:nth-child(9) input');
                const totalWithGST = row.querySelector('td:nth-child(11) input');

                totalGrossGSTPersentage = parseFloat(cgst) + parseFloat(sgst); // need correction
                gstAmount = ((totalGrossGSTPersentage / 100).toFixed(2) * parseFloat(total)).toFixed(2)
                GSTamount.value = gstAmount;
                totalWithGST.value = parseFloat(gstAmount) + parseFloat(total);
                calculateTotalWithGST();
            }

            function calculateTotalGSTamountOnly() {
                const rows = document.querySelectorAll('#salesTable tr');
                TotalGSTamountOnly = 0;

                rows.forEach(row => {
                    const total = parseFloat(row.querySelector('td:nth-child(9) input').value) || 0;
                    TotalGSTamountOnly += total;
                });

                document.getElementById('TotalGSTamountOnly').innerText = TotalGSTamountOnly.toFixed(2);
            }

        }

        window.onload = function () {
            const dateInput = document.getElementById('dateInput');
            const today = new Date().toISOString().split('T')[0];
            dateInput.value = today;
        };

        let customerList = [];
        // Fetch customer data from API
        async function fetchCustomers() {
            try {
                const response = await fetch("/get_customers"); // Update with the correct API endpoint
                if (!response.ok) {
                    throw new Error("Failed to fetch customers");
                }
                customerList = await response.json();
            } catch (error) {
                console.error("Error fetching customers:", error);
            }
        }
        fetchCustomers();

        function searchCustomer(e) {
            let query = e.value;

            if (e.name == "customer") {
                let resultList = customerList.filter((itm) => {
                    return itm.name.toLowerCase().includes(e.value.toLowerCase())
                })
                showCustomerSuggestions(resultList);
            }
            else {
                let resultList = customerList.filter((itm) => {
                    return itm.phone.includes(e.value)
                })
                showCustomerSuggestions(resultList);
            }
        }

        function showCustomerSuggestions(list) {
            // Generate dropdown list
            let suggestionsBox = document.getElementById("customerSuggestions");
            suggestionsBox.innerHTML = list.map(customer =>
                `<div onclick="customerFill(${customer.customerId})">${customer.name}</div>`
            ).join("");
            let suggestionsBox2 = document.getElementById("phoneSuggestions");
            suggestionsBox2.innerHTML = list.map(customer =>
                `<div onclick="customerFill(${customer.customerId})">${customer.phone}</div>`
            ).join("");
        }

        document.addEventListener("click", function (event) {
            if (!event.target.closest(".input-group")) {
                document.getElementById("customerSuggestions").innerHTML = "";
                document.getElementById("phoneSuggestions").innerHTML = "";
            }
            document.querySelectorAll(".suggestions").forEach(suggestionBox => {
                suggestionBox.innerHTML = "";
            });
        });

        function customerFill(customerId) {
            customerList.forEach((itm) => {
                if (itm.customerId == customerId) {
                    document.getElementById("customer").value = itm.name;
                    document.getElementById("phoneno").value = itm.phone;
                    document.getElementById("customerSuggestions").innerHTML = "";
                    document.getElementById("phoneSuggestions").innerHTML = "";
                    return
                }
            });


        }

        document.getElementById("medicinelistdataform").addEventListener("submit", async (e) => {
            e.preventDefault();

            let allItems = [];

            let itemTableRow = document.querySelectorAll("#salesTable>tr");
            let singleItem = {};
            itemTableRow.forEach((row) => {
                singleItem = {};
                singleItem.item_name = row.querySelectorAll("td")[1].querySelector("input").value;
                singleItem.batch = row.querySelectorAll("td")[2].querySelector("input").value;
                singleItem.qty = row.querySelectorAll("td")[3].querySelector("input").value;
                singleItem.price = row.querySelectorAll("td")[4].querySelector("input").value;
                singleItem.discount = row.querySelectorAll("td")[5].querySelector("input").value;
                singleItem.cgst = row.querySelectorAll("td")[6].querySelector("input").value;
                singleItem.sgst = row.querySelectorAll("td")[7].querySelector("input").value;
                singleItem.total_GST_amount = row.querySelectorAll("td")[8].querySelector("input").value;
                singleItem.total = row.querySelectorAll("td")[9].querySelector("input").value;
                singleItem.total_with_GST = row.querySelectorAll("td")[10].querySelector("input").value;

                allItems.push(singleItem);

            })

            let dataObj = {};
            dataObj.customer_name = document.getElementById("customer").value;
            dataObj.customer_contact = document.getElementById("phoneno").value;
            dataObj.billing_date = document.getElementById("dateInput").value;

            dataObj.total_amount = document.getElementById("grandTotal").textContent;
            dataObj.total_GST = document.getElementById("TotalGSTamountOnly").textContent;
            dataObj.total_with_GST = document.getElementById("grandTotalWithGST").textContent;
            dataObj.billing_items = allItems

            console.log(dataObj);
            try {
                const response = await fetch(`/create-bill`, {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(dataObj)
                });

                const result = await response.json();

                if (response.ok) {
                    const table = document.getElementById('salesTable');
                    table.innerHTML = null;
                    document.getElementById("customer").value = "";
                    document.getElementById("phoneno").value = "";
                    alert(result.message);

                    // Download PDF file Usage
                    downloadFile(`download-bill-pdf/${result.invoice_number}`, `${dataObj.customer_name}_${result.invoice_number}_invoice.pdf`);

                } else {
                    console.error('Error adding create_purchase:', result);
                    alert(result.error);
                }
            } catch (error) {
                // localStorage.setItem("offlineAddParty",JSON.stringify())
                console.error('Request failed:', error);
            }
        });

        let medicineStock = [];
        // Fetch medicine stock from the server
        async function fetchMedicineStock() {
            try {
                const response = await fetch("/get_medicine_stock");
                if (!response.ok) {
                    throw new Error("Failed to fetch medicine stock");
                }
                medicineStock = await response.json();
            } catch (error) {
                console.error("Error fetching medicine stock:", error);
            }
        }

        // Call the function to fetch stock on page load
        fetchMedicineStock();


        function showSuggestions(input, suggestionBoxId) {
            const query = input.value.toLowerCase();
            suggestionsBox = document.getElementById(suggestionBoxId);
            let filteredMedicines;
            // Filter medicines based on user input
            if (input.name.includes("item_name")) {
                filteredMedicines = medicineStock.filter(med =>
                    med.item_name.toLowerCase().includes(query)
                );
            }
            else {
                filteredMedicines = medicineStock.filter(med =>
                    med.batch.toLowerCase().includes(query)
                );
            }
            // Display suggestions
            suggestionsBox.innerHTML = filteredMedicines.map((med) => {
                // if(med.qty<50){
                //     return `<div style="background-color: red;" onclick="selectMedicine('${med.batch}', '${suggestionBoxId}', '${med.item_name}', '${med.batch}', '${med.mrp}')">${med.item_name}, Batch: ${med.batch}, MRP: ${med.mrp}, Qty: ${med.qty}</div>`
                // }
                // else if(med.qty<100){
                //     return `<div style="background-color: yellow;color:black;" onclick="selectMedicine('${med.batch}', '${suggestionBoxId}', '${med.item_name}', '${med.batch}', '${med.mrp}')">${med.item_name}, Batch: ${med.batch}, MRP: ${med.mrp}, Qty: ${med.qty}</div>`
                // }
                return `<div onclick="selectMedicine('${med.batch}', '${suggestionBoxId}', '${med.item_name}', '${med.batch}', '${med.mrp}')">${med.item_name}, Batch: ${med.batch}, MRP: ${med.mrp}, Qty: ${med.qty}</div>`
            }).join("");
        }

        function selectMedicine(batch, suggestionBoxId, itemName, batch, mrp) {
            let rowNum = suggestionBoxId.split("_")[1];
            document.getElementById(`item_name_${rowNum}`).value = itemName;
            document.getElementById(`batch_${rowNum}`).value = batch;
            document.getElementById(`price_${rowNum}`).value = mrp;
        }
    </script>
</body>

</html>